certifi
chardet
cycler
idna
kiwisolver
matplotlib
numpy
pandas
patsy
postgres
psycopg2-binary
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
SQLAlchemy>=1.3.0
urllib3
statsmodels
xgboost
